<div id="app">
    <div id="hero">
      <div class="top-left">
        <img id="imagen_barra" src='./static/imagenes/pp.png' alt="Grupo Alva Logo">
      </div>
      <div class="top-right">
        <img src='./static/imagenes/GrupoALVA.png'  alt="Grupo Alva Logo" width="400" height="150">
    </div>
    <div class="bottom-right">
      <img id="imagen_barra" src='./static/imagenes/pp2.png' alt="Grupo Alva Bars">
    </div>
    <div class="container_index">
      <h5 class="titulo" >Intranet Corporativa</h5>
      <h2 class="subtitle">Bienvenido</h2>
      <h3 class="slogan"  style="color:#fff;">¡Pintando el Futuro!</h3>
      <a id="buttons" class="" href="/signin/">Inicio Sesión</a>
      <a id="buttons" class="" href="/about_us/">Leer mas</a>
    </div>
  </div>