<div class="modal-dialog modal-lg" role = "documento">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Curso</h2>
            <button class="close" type="button" aria-dismiss ="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <iframe src="$(imagen)" width="100%" height="800px"></iframe>
        </div>
    </div>
</div>